/******COLORS******/
/*Green:#5ba215*/
/*Dark Green:#498211;*/
/*Charcoal:#222*/
/*Gray:#bbb*/

/******GENERAL*****/
@font-face {
	font-family:Eras;
	src:url('eras/Eras Light.eot'); /* IE9 Compatibility Modes */
	src:url('eras/Eras Light.eot?') format('eot'),  /* IE6-IE8 */
		url('eras/Eras Light.woff') format('woff'), /* Modern Browsers */
		url('eras/Eras Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
::selection {
	background:#5ba215;
	color:white;
}
::-moz-selection {
	background:#5ba215;
	color:white;
}
html, body {
	width:100%;
	height:100%;
	min-width:408px;
	line-height:1.5;
	font-family: 'Oxygen', sans-serif;
	color:#222222;
	background:url('images/background.png');
}
* {
	margin:0;
	padding:0;
	border:none;
	list-style:none;
}
a {
	text-decoration:none;
	color:#5ba215;
}
a:hover {
	color:#498211;
}
h2 {
	color:#5ba215;
}
.smallCaps {
	font-variant:small-caps;
}
.wrapper {
	max-width:1200px;
	margin:0 auto;
}
.wrapper img[src="images/logo.png"]:hover{
	opacity:50;
	filter:alpha(opacity=.5);
}
.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
img.center {
	display:block;
	margin-bottom:30px;
}
.twitter:before{
	content: url('images/twitter.png');
	margin-right:2px;
}
.twitter:hover:before{
	content: url('images/twitter-green.png');
	margin-right:2px;
}
.github:before{
	content: url('images/github.png');
	margin-right:2px;
}
.github:hover:before{
	content: url('images/github-green.png');
	margin-right:2px;
}
.facebook:before{
	content: url('images/facebook.png');
	margin-right:2px;
}
.facebook:hover:before{
	content: url('images/facebook-green.png');
	margin-right:2px;
}

/******HEADER*****/
#header {
	position:fixed;
	background:rgba(255, 255, 255, .95);
	width:100%;
	height:104px;
	min-width:408px;
	border-top:5px solid #5ba215;
	font-size:130%;
	z-index:200;
	-webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.15);
	box-shadow:0px 5px 5px rgba(0, 0, 0, 0.15);
}
#header .wrapper {
	max-width:1150px;
	padding:40px 50px 5px 50px;
	position:relative;
}

#header .wrapper > a{
	float:left;
}
#nav {
	height:0;
	padding-top:24px;
	line-height:40px;
	float:right;
}
#nav li {
	display:inline-block;
	padding:0 5px;
}
#nav li:first-child {
	padding-left:0;
}
#nav li:last-child {
	padding-right:0;
}
#nav li:hover {
	background-image:url('images/arrow.png');
	background-repeat:no-repeat;
	background-position:bottom;
}
#nav li:first-child:hover, #nav li:last-child:hover  {
	background-image:none;
}
#nav a {
	color:#bbb;
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-o-transition:all 0s;
	transition:font-size 0s;
	-moz-transition:font-size 0s;
	-webkit-transition:font-size 0s;
	-o-transition:font-size 0s;
}
#nav a.selected, #nav>li:hover>a {
	color:#222;
}
#nav li ul {
	position:absolute;
	font-size:80%;
	background:#222;
	height:0;
	line-height:40px;
	overflow:hidden;
	padding:0;
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
}
#nav li:hover ul {
	height:40px;
	line-height:40px;
	overflow:visible;
}
#nav li ul a {
	color:white;
}
#nav li ul a:hover {
	text-decoration:underline;
}
#nav li ul li:first-child {
	padding-left:10px;
}
#nav li ul li:last-child {
	padding-right:10px;
}
#mobilenav {
	display:none;
	position:absolute;
	right:0;
	margin-right:40px;
	line-height:35px;
	margin-top:19px;
	background:#222;
	color:white;
	padding:0 10px;
}
#mobilenav:active {
	background:#498211;
}
/*****BIG*****/
#big {
	background-color:#5ba215;
	background-image:url('images/bigbkgd.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	border-top:108px solid white;
	-webkit-box-shadow:inset 0px -5px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:inset 0px -5px 5px rgba(0, 0, 0, 0.15);
	box-shadow:inset 0px -5px 5px rgba(0, 0, 0, 0.15);
	border-bottom:1px solid #498211;
}
#big.title {
	background-image:url('images/bigbkgdsmall.png');
	font-family:'Eras', sans-serif;
	height:60px;
}
.title .wrapper {
	padding:0 30px;
}
#big.title h1 {
	line-height:60px;
	color:white;
	font-size:40px !important;
	font-weight:normal;
	margin-top:3px;
	padding:0 30px;
}
/*****FOOTER*****/
#footer {
	background:#222;
	font-size:90%;
	text-align:justify;
}
#footer .wrapper {
	max-width:650px;
	padding:50px;
	overflow:hidden;
}
#footer, #footer li a, #footer li a:visited {
	color:white;
}
#footer li a:hover {
	color:#5ba215;
}
#footer, #footer ul {
	text-align:left;
	vertical-align:top;
}
#sm {
	width:110px;
	display:inline-block;
}
#pr, #mr {
	width:170px;
	display:inline-block;
}
#footer li:first-child {
	padding-bottom:7px;
}
#footer ul {
	padding-left:25px;
}
#footer ul li:first-child {
	padding-bottom:0px;
}
#stretch {
    width:100%;
    display:inline-block;
    font-size:0;
    line-height:0;
}
#content {
	padding:0 25px;
	max-width:1200px;
	margin:0 auto;
	font-size:107%;
}
#footer + .wrapper {
	padding:0 25px;
	margin:0 auto;
}
#under {
	padding:10px 0 50px 0;
	background:white;
	color:#bbb;
	font-size:90%;
}
#under p {
	width:33.33%;
	float:left;
	text-align:center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#under p:first-child { padding-left:50px; text-align:left; }
#under p:last-child { padding-right:50px; text-align:right; }
#under a {
	color:#bbb;
}
#under a:hover {
	color:#5ba215;
}