---
layout: default
active: home
---

<div style="top:0;position:absolute;display: inline;">
<!-- Floating scroll-down button -->
    <button id="carousel-scroll-down-button"  aria-label="Scroll to the end/bottom of the image carousel">
         <svg xmlns="http://www.w3.org/2000/svg"
              viewBox="-20 -20 355 155">
            <path id="carousel-scroll-down-button-path"
                    fill="none" stroke="white" stroke-width="25" stroke-linecap="round" opacity=".9"
                    d="M 0 0 C 0 0 141.4 86.1 141.4 86.1 C 141.4 86.1 282.8 0 282.8 0" />
         </svg>
    </button>
</div>

<div id="slider">
    <div>
        <picture>
            <source srcset="https://assets.csh.rit.edu/pubsite/welcome_back_large.webp" type="image/webp" />
            <source srcset="https://assets.csh.rit.edu/pubsite/welcome_back_large.jpeg" type="image/jpeg" />
            <img src="https://assets.csh.rit.edu/pubsite/welcome_back_large.jpeg" alt="A group of CSHers standing in front of a lake" />
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="https://assets.csh.rit.edu/pubsite/server_room.webp" type="image/webp" />
            <source srcset="https://assets.csh.rit.edu/pubsite/server_room.jpeg" type="image/jpeg" />
            <img src="https://assets.csh.rit.edu/pubsite/server_room.jpeg" alt="A CSH member stands at a terminal in the CSH server room" />
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="https://assets.csh.rit.edu/pubsite/rock.webp" type="image/webp" />
            <source srcset="https://assets.csh.rit.edu/pubsite/rock.jpeg" type="image/jpeg" />
            <img src="https://assets.csh.rit.edu/pubsite/rock.jpeg" alt="CSHers crowd around a rock painted red with a CSH logo on it in white" />
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="https://assets.csh.rit.edu/pubsite/science_house_2019.webp" type="image/webp" />
            <source srcset="https://assets.csh.rit.edu/pubsite/science_house_2019.jpeg" type="image/jpeg" />
            <img src="https://assets.csh.rit.edu/pubsite/science_house_2019.jpeg" alt="A sign that reads Science House with CSHers in the background. Taken at Fall Camping 2019" />
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="https://assets.csh.rit.edu/pubsite/holiday_dinner_2019.webp" type="image/webp" />
            <source srcset="https://assets.csh.rit.edu/pubsite/holiday_dinner_2019.webp" type="image/jpeg" />
            <img src="https://assets.csh.rit.edu/pubsite/holiday_dinner_2019.webp" alt="CSHers pose for a group photo after Holiday Dinner 2019" />
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="https://assets.csh.rit.edu/pubsite/fall_camping_group_2019.webp" type="image/webp" />
            <source srcset="https://assets.csh.rit.edu/pubsite/fall_camping_group_2019.webp" type="image/jpeg" />
            <img src="https://assets.csh.rit.edu/pubsite/fall_camping_group_2019.webp" alt="A group of CSHers at Fall Camping 2019" />
        </picture>
    </div>
</div>
<div class="gray-wrapper">
    <div class="container spaced" id="homepage-about">
        <div class="row">
            <div class="col-12 col-lg-6">
                <picture>
                    <source srcset="https://assets.csh.rit.edu/pubsite/about_image.webp" type="image/webp" />
                    <source srcset="https://assets.csh.rit.edu/pubsite/about_image.jpeg" type="image/jpeg" />
                    <img class="rounded" src="https://assets.csh.rit.edu/pubsite/about_image.jpeg" alt="A group of CSHers at our annual camping trip">
                </picture>
            </div>
            <div class="col-12 col-lg-6">
                <p>Since 1976, <strong>Computer Science House</strong> has provided a revolutionary living and learning environment for its members. With unique facilities, an emphasis on hands-on learning, and a strong social atmosphere, CSH helps its members grow as professionals and more.</p>
                <a class="btn btn-primary" href="/about/">More about CSH</a>
            </div>
        </div>
    </div>
</div>

<div class="container spaced" id="post-list">
    <div class="row">
        <div class="col-12">
            <h2 class="header">Recent posts</h2>
        </div>
        {% for post in site.posts limit:2 %}
            {% include post.html post=post %}
        {% endfor %}
        <div class="col-12">
            <a class="btn btn-primary" href="/blog/">More blog posts</a>
        </div>
    </div>
</div>

<div class="gray-wrapper">
    <div class="container spaced" id="homepage-projects">
        <div class="row">
            <div class="col-12">
                <h2 class="header">Things we've done</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <p>Personal projects are a big part of CSH culture. Some of our biggest include Schedule Maker, CSH Arcade, Drink, and HAROLD.</p>
                <a class="btn btn-primary" href="/about/projects.html">More projects</a>
            </div>
            <div class="col-12 col-lg-8 images">
                <div class="row">
                    <div class="col-3">
                        <a href="https://schedule.csh.rit.edu/" target="_blank">
                            <picture>
                                <source srcset="https://assets.csh.rit.edu/pubsite/projects/schedulemaker.webp" type="image/webp" />
                                <source srcset="https://assets.csh.rit.edu/pubsite/projects/schedulemaker.jpg" type="image/jpeg" />
                                <img class="rounded"  src="https://assets.csh.rit.edu/pubsite/projects/schedulemaker.jpg" alt="The logo for CSH Schedule Maker" />
                            </picture>
                        </a>
                    </div>
                    <div class="col-3">
                        <picture>
                            <source srcset="https://assets.csh.rit.edu/pubsite/projects/arcade.webp" type="image/webp" />
                            <source srcset="https://assets.csh.rit.edu/pubsite/projects/arcade.jpg" type="image/jpeg" />
                            <img class="rounded"  src="https://assets.csh.rit.edu/pubsite/projects/arcade.jpg" alt="Two custom arcade machines in the CSH library" />
                        </picture>
                    </div>
                    <div class="col-3">
                        <a href="https://github.com/ramzallan/tonic" target="_blank">
                            <picture>
                                <source srcset="https://assets.csh.rit.edu/pubsite/projects/drink.webp" type="image/webp" />
                                <source srcset="https://assets.csh.rit.edu/pubsite/projects/drink.jpg" type="image/jpeg" />
                                <img class="rounded"  src="https://assets.csh.rit.edu/pubsite/projects/drink.jpg" alt="Two of CSH's networked vending machines, Drink and Snack.">
                            </picture>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="https://github.com/nfatkhiyev/Harold" target="_blank">
                            <picture>
                                <source srcset="https://assets.csh.rit.edu/pubsite/projects/harold.webp" type="image/webp" />
                                <source srcset="https://assets.csh.rit.edu/pubsite/projects/harold.jpg" type="image/jpeg" />
                                <img class="rounded"  src="https://assets.csh.rit.edu/pubsite/projects/harold.jpg" alt="Harold, a box with a sensor on it, that plays members' music" />
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container spaced" id="homepage-sponsors">
    <div class="row">
        <div class="col-12">
            <a href="/about/sponsors.html">
                <h2 class="header">Sponsors</h2>
            </a>
        </div>
        <div class="col-4 col-lg-2" id="sponsor-1">
            <a href="https://rit.edu/">
            <img src="https://assets.csh.rit.edu/pubsite/sponsors/ritLarge.png">
            </a>
        </div>
        <div class="col-4 col-lg-2" id="sponsor-2">
            <a href="https://google.com/">
                <img src="https://assets.csh.rit.edu/pubsite/sponsors/google.png">
            </a>
        </div>
        <div class="col-4 col-lg-2" id="sponsor-3">
            <a href="https://microsoft.com/">
            <img src="https://assets.csh.rit.edu/pubsite/sponsors/microsoft.png">
            </a>
        </div>
        <div class="col-4 col-lg-2" id="sponsor-4">
            <a href="https://slack.com/">
            <img src="https://assets.csh.rit.edu/pubsite/sponsors/slack.png">
            </a>
        </div>
        <div class="col-4 col-lg-2" id="sponsor-5">
            <a href="https://hp.com">
            <img src="https://assets.csh.rit.edu/pubsite/sponsors/hp.png">
            </a>
        </div>
        <div class="col-4 col-lg-2" id="sponsor-6">
            <a href="https://oracle.com/">
            <img src="https://assets.csh.rit.edu/pubsite/sponsors/oracle.png">
            </a>
        </div>
    </div>
</div>
