/*TOUR QUERIES*/
@media (max-width:800px) {
	.rooms label {
		font-size:85%;
	}
}
@media (max-width:750px) {
	.rooms label {
		font-size:70%;
		font-weight:bold;
	}
}
@media (max-width:675px) {
	.rooms label {
		width:49% !important;
		line-height:34px;
	}
}
@media (max-width:890px) {
	/*.rooms {
		padding: 0 25px !important;
	}
	.rooms label {
		width:31.6% !important;
		margin:0 .5% 5px .5%;
		line-height:34px;
		font-weight:bold
	}
	.rslides li p {
		font-size:70% !important;
	}*/
}
@media (max-width:550px) {
	/*.rooms label {
		font-weight:normal;
		font-size:60%;
	}*/
}
/*WELL, THE QUERIES BELOW THIS ARE JUST A MESS.
SOMEONE SHOULD REALLY CLEAN THEM UP*/
/*At least they work*/
@media (max-width:1200px) {
	#content{
		margin:0 25px;
	}
}
@media (max-width:1060px) {
	.largeShow {
		display:none;
	}
	.smallShow {
		display:table-cell;
	}
	.smallHide {
		display:none;
	}
	.gridText {
		display:block;
	}
}
@media (max-width:955px) {
	.grid{
		padding:0 25px;
	}
	.gridText {
		padding:0 30px;
	}
	.gridDetails li {
		font-size:80%;
	}
}
@media (max-width:810px) {
	.gridDetails li {
		font-size:70%;
	}
}
@media (max-width:740px) {
	.gridDetails li {
		font-size:60%;
	}
	.altList p{
		font-size:80%;
	}
}
@media (max-width:635px) {
	.grid{
		padding:0 15px;
	}
	.gridText {
		padding:0 20px;
	}
	.gridDetails {
		display:none;
	}
}
@media (max-width:610px) {
	/*Adjust header width and height,
	adjusting #big height accordingly*/
	#header{
		height:94px;
	}
	#header .wrapper {
		padding:30px 4.5% 5px 4.5%;
	}
	#big {
		border-top:98px solid white;
	}
}
/*Adjust header width and height,
adjusting #big height accordingly*/
@media (max-width:530px) {
	#header{
		height:84px;
	}
	#header .wrapper {
		padding:20px 2% 5px 2%;
	}
	#big {
		border-top:88px solid white;
	}
	.altList p{
		font-size:70%;
	}
}
@media (max-width:505px) {
	#header{
		height:74px;
	}
	#header .wrapper {
		padding:10px 1% 5px 1%;
	}
	#big {
		border-top:78px solid white;
	}
}
/*Adjusts the sepeartion of text/img in #big*/
@media (max-width:440px) {
	#left p {
		width:65%;
	}
}
/*Adjusts #split height depending
on # of lines in #about and imgs size*/
@media (max-width:1045px) {
	#about {
		width:35%;
	}
	#projects img {
		padding-right:2%;
		width:13.5%;
	}
}
@media (max-width:925px) {
	#about {
		width:40%;
	}
	#projects img {
		padding-right:2%;
		width:12.2%;
	}
}
@media (max-width:875px) {
	#about {
		width:100%;
		padding-bottom:10px;
	}
	#projects img {
		padding-right:5%;
		width:21.2%;
	}
	#projects p {
		padding-left:0;
	}
}
@media (max-width:600px) {
	#projects img {
		padding-right:5%;
		padding-bottom:5%;
		width:47.5%;
	}
	#projects img:last-of-type, #projects img:nth-of-type(3) {
		padding-bottom:0;
	}
	#projects img:nth-of-type(2) {
		padding-right:0;
	}
	#projects p {
		padding-left:0;
	}
	/*Contact page*/
	#contact-info{
		width:180px;
		text-align:center;
	}
	#contact-form{
		width:240px;
	}
	#contact-form input {
		width:232px;
	}
	#contact-form select{
		width:240px;
	}
	#contact-form textarea{
		width:232px;
	}
	input#submit-button {
		width:55px;
		right:0;
		bottom:7px;
	}
}
/*Text size changing*/
@media (max-width:505px) {
	#header .wrapper {
		font-size:77%;
	}
}
@media (max-width:415px) {
	#content h3 {
		font-size:166%;
	}
}
@media (max-width:650px) {
/*Adjusts under footer to center and stack*/
	#under p:first-child, #under p:last-child {
		float:none;
		text-align:center;
		margin:0;
	}
	/*Adjusts #footer to single column when skinny */
	#footer .wrapper {
		width:160px;
	}
	#footer{
		font-size:130%;
	}
	*#mr, #pr, #sm {
		padding-bottom:25px;
	}
	#stretch {
		display:none;
	}
}