<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 footer-left">
                <a href="mailto:webmaster@csh.rit.edu">webmaster@csh.rit.edu</a>
            </div>
            <div class="col-12 col-lg-4 footer-center">
                <a href="https://github.com/computersciencehouse/cshpublicsitev2">
                    Website on GitHub
                </a>
            </div>
            <div class="col-12 col-lg-4 footer-right">
                &copy; 2018 Computer Science House
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="/assets/js/slider.js"></script>
<script src="/assets/js/nav.js"></script>
<script src="/assets/js/eboard.js"></script>
<script src="/assets/js/sponsors.js"></script>
<script src="/assets/js/tour.js"></script>
