<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="/about/faq.html">FAQ</a>
                    <a href="/membership/intro-process.html">How to Apply</a>
                    <a href="https://schedule.csh.rit.edu/">RIT ScheduleMaker</a>
                    <a href="/blog/">Blog</a>
                    <a href="https://constitution.csh.rit.edu/">Constitution</a>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12">
                    <a href="https://github.com/computersciencehouse/"><i class="fab fa-github"></i>GitHub</a>
                    <a href="https://www.facebook.com/RITCSH/"><i class="fab fa-facebook"></i>Facebook</a>
                    <a href="https://www.instagram.com/computersciencehouse/"><i class="fab fa-instagram"></i>Instagram</a>
                    <a href="https://twitter.com/RITCSH/"><i class="fab fa-twitter"></i>Twitter</a>
                    <a href="https://twitter.com/CSH_HISTORY/"><i class="fab fa-twitter"></i>@CSH_History</a>
                    <a href="https://twitter.com/OPCOMM/"><i class="fab fa-twitter"></i>@OpComm</a>
                    <a href="https://www.medium.com/RITCSH/"><i class="fab fa-medium"></i>Medium</a>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center spaced">
                    <img src="https://assets.csh.rit.edu/pubsite/rit_csh.png" />
                </div>
                <div class="text-center spaced col-12"><i>Getting more done after 2am than most people do all day.</i></div>
                <div class="text-md-left col-12 col-lg-4">
                    <a href="mailto:webmaster@csh.rit.edu">webmaster@csh.rit.edu</a>
                </div>
                <div class="col-12 col-lg-4">
                    &copy; 2020 Computer Science House
                </div>
                <div class="text-md-right col-12 col-lg-4">
                    <a href="https://github.com/computersciencehouse/cshpublicsite">
                        Website on GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>


