<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="/about/faq.html">FAQ</a>
                    <a href="/membership/intro-process.html">How to Apply</a>
                    <a href="https://schedule.csh.rit.edu/">RIT ScheduleMaker</a>
                    <a href="/blog/">Blog</a>
                    <a href="https://constitution.csh.rit.edu/">Constitution</a>
                    <a href="https://github.com/computersciencehouse/"><i class="fab fa-github"></i>GitHub</a>
                    <a href="https://www.facebook.com/RITCSH/"><i class="fab fa-facebook"></i>Facebook</a>
                    <a href="https://twitter.com/CSH_HISTORY/"><i class="fab fa-twitter"></i>@CSH_History</a>
                    <a href="https://twitter.com/OPCOMM/"><i class="fab fa-twitter"></i>@OpComm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center spaced">
                    <img src="/assets/images/rit_csh.png" />
                </div>
                <div class="text-md-left col-12 col-lg-4">
                    <a href="mailto:webmaster@csh.rit.edu">webmaster@csh.rit.edu</a>
                </div>
                <div class="col-12 col-lg-4">
                    &copy; 2019 Computer Science House
                </div>
                <div class="text-md-right col-12 col-lg-4">
                    <a href="https://github.com/computersciencehouse/cshpublicsite">
                        Website on GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="/assets/js/slider.js"></script>
<script src="/assets/js/nav.js"></script>
<script src="/assets/js/footer.js"></script>
<script src="/assets/js/sponsors.js"></script>
<script src="/assets/js/tour.js"></script>
