<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon configs -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.csh.rit.edu/pubsite/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://assets.csh.rit.edu/pubsite/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://assets.csh.rit.edu/pubsite/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://assets.csh.rit.edu/pubsite/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://assets.csh.rit.edu/pubsite/favicon/safari-pinned-tab.svg" color="#B0197E">
    <link rel="shortcut icon" href="https://assets.csh.rit.edu/pubsite/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#B0197E">
    <meta name="msapplication-config" content="https://assets.csh.rit.edu/pubsite/favicon/browserconfig.xml">
    <meta name="theme-color" content="#B0197E">

    <!-- Styles -->
    <link rel="stylesheet" href="https://s3.csh.rit.edu/csh-material-bootstrap/4.0.0/dist/csh-material-bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,500i,600,700,900">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    
    <!-- Javascript libraries -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="/assets/js/slider.js"></script>
    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/footer.js"></script>
    <script src="/assets/js/sponsors.js"></script>
    <script src="/assets/js/tour.js"></script>

    <!-- Getting more done after 2am than most people do all day! -->
</head>
