.eboard-photo-container {
     & img {
         width: calc(100% - 30px);
         position: absolute;
         transition: 0.3s opacity ease-in-out;
         &.real {
             width: 100%;
             position: relative;
             &:hover {
                  opacity: 0;
              }
         }
     }
 }
