footer {
    font-size: 0.75em;
    text-align: center;
    background: $csh-pink;
    color: white;
    padding: 20px 0;
    & .container {
        padding-top: 0;
        padding-bottom: 0;
    }
    & a {
        color: white;
        &:hover {
            color: white;
        }
        @media(max-width: 992px) {
            text-decoration: underline; // underline links on smaller screens
        }
    }
}
