#csh-hacks-wrapper {
    color: rgba(217, 184, 206, 1);
    background: rgba(37, 2, 26, 1) repeat top/2.5em
        url("/assets/images/csh_tilted.png");
    & h2 {
        color: white;
        margin-top: 0;
    }
    & img {
        width: 100%;
        margin-top: 1.5em;
    }
    @media screen and (max-width: 992px) {
        h2 {
            margin-top: 1em;
        }
    }
}
