// override csh-material-bootstrap
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.25em 0.5em;
}

nav {
    transition: 0.2s font-size;
    & .navbar-brand {
        transition: 0.2s max-height;
        max-height: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-image: url('/assets/images/csh-logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        @media(max-width: 992px) {
            max-height: 150px;
        }
    }
    & img {
        display: inline;
    }

    & ul {
        list-style-type: none;
        display: inline;
        padding: 0;
        & li {
            display: inline-block;
            padding: 5px 10px;
            font-size: 0.75em;
            font-weight: 600;
            text-transform: uppercase;
        }
        & a {
            color: white;
            letter-spacing: 1px;
            padding: 2px 0;
            border-bottom: 3px solid transparent;
            transition: 0.4s border-color;
            &:hover {
                text-decoration: none;
                color: lighten($csh-pink, 50%);
                border-color: lighten($csh-pink, 50%);
            }
            &.active,
            &:active {
                border-color: lighten($csh-pink, 30%);
            }
        }
    }
    & .dropdown-menu {
        min-width: 0px; // override csh bootstrap
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
        & li {
            display: block;
        }
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    &.condensed {
        font-size: 0.8em;
        padding: 0.33rem 1rem;
        .navbar-brand {
            max-height: 40px;
        }
        & .dropdown-menu {
            font-size: 1.2em;
        }
    }
}

.btn.dropdown-toggle:before {
    display: none; // remove beginning caret for dropdowns
}
