$carousel-scroll-down-button-font-size-larger: 2.5rem;
$carousel-scroll-down-button-font-size-smaller: 1.75rem; 

#slider {
    width: 100%;
    margin-bottom: 0;
    height: auto;
    overflow-y: hidden;
    & img {
        width: 100%;
    }
    background: $gray;
}

#carousel-scroll-down-button:before {
    content: 'ˬ';
    font-size: $carousel-scroll-down-button-font-size-larger;
    font-weight: bold;
    text-shadow:0px 0px 10px black, 0px 0px 10px black;
    @media screen and (max-width: 600px){
        font-size: $carousel-scroll-down-button-font-size-smaller; 
    }
}

#carousel-scroll-down-button {
    position: absolute;    
    z-index: 98;
    left: 50vw;
    right: 0;
    width: auto;
    height: auto;
}

.slick-prev {
    left: 10px;
    z-index: 2;
}

.slick-next {
    right: 10px;
}

.slick-prev:before,
.slick-next:before {
    color: white;
    text-shadow: 0 0 5px black;
}

.slick-dots {
    bottom: 10px;
}
