$size: 350px;

.splash {
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('#{$CSHPUBSITE_ASSETS_URL}/hallway_blurred.jpg') 30% 30% no-repeat;
  background-size: cover;

  h1 {
    color: white;
    font-size: 3em;
    margin: 0;
    padding: 0 1rem;
    max-width: 100%;
    word-wrap: break-word;
  }

  @media (max-width: 992px) {
    height: 400px;

    h1 {
      font-size: 2em;
      padding: 0 1rem;
    }
  }
}
