$size: 350px;

.splash {
    height: $size;
    text-align: center;
    & h1 {
        width: 100%;
        height: 100%;
        background: url('/assets/images/hallway_blurred.jpg') 30% 30% no-repeat;
        background-size: cover;
        line-height: calc(#{$size} + 50px);
        text-align: center;
        color: white;
        font-size: 3em;
        vertical-align: bottom;
    }

    @media(max-width: 992px) {
        height: 400px;
        & h1 {
            font-size: 2em;
            line-height: 1.2;
            padding-top: 50%;
        }
    }
}
