---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

$blue: #404b69;
$gray: #f4f4f6;
$csh-pink: #b0197e;


body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background: white;
}

.container.spaced {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gray-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $gray;
  &.padded {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

img.rounded,
.card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 15px darken($gray, 20%);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.container_stat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
 }
 
 .stat_big {
   color: $csh-pink;
   font-size: 2.5em;
   font-weight: 600;
   margin: 0%;
 }

 .stat_tag {
   margin: 0.2em;
 }
 
 .stat_card {
   text-align: center;
   width: 200px;
 }

 .stat_desc {
    font-size: 0.6em;
    font-weight: 600;
 }

.quad_image {
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.card-header {
  overflow: hidden;
  text-overflow: ellipsis;
}

img.center-vertically {
  width: 80%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

img.padded-gray {
    padding: 10%;
    background: #EEEEEE;
}

.logo-grid {
  & img {
    width: 100%;
    margin-top: 1.5em;
    transition: 0.3s opacity;
    &:hover {
      opacity: 0.75;
    }
    @media (max-width: 992px) {
      margin-top: 1em;
    }
  }
}

a.btn {
    font-size: 0.75em;
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
  .quad_image {
    display: block;
  }
}

@import "typography";
@import "nav";
@import "slider";
@import "about";
@import "projects";
@import "sponsors";
@import "splash";
@import "post";
@import "eboard";
@import "tour";
@import "insights";
@import "footer";
@import "hackathon";
@import "triple_image";
@import "project_images.scss";
