<div class="information-update-text">
    <h4 style="margin-bottom:3px;">1/10/2016</h4>
    <p>Just added the link to <a href="http://goo.gl/ai5p9Y" style="color:#B0197E">reserving rooms in the hotel block</a>.</p>
</div>
<hr>
<div class="information-update-text">
    <h4 style="margin-bottom:3px;">12/04/2015</h4>
    <p>Recently added the <a href="http://csh.rit.edu/40th_chairman_letter.php" style="color:#B0197E">letter from our chairman</a> Andrew Glaude. This letter gives a high level overview of the event including activities and the formal dinner.</p>
</div>

<!-- Update Template

<div class="information-update-text">
    <h4 style="margin-bottom:3px;"> |DATE GOES HERE|</h4>
    <p>|UPDATE TEXT GOES HERE|</p>
</div>

-->