<span id="conference"> 
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="resources/images/tour/conference1.jpg" alt="Conference 1" class="img-responsive tour-img">
        </div>
        <div class="item">
            <img src="resources/images/tour/conference2.jpg" alt="Conference 2" class="img-responsive tour-img">
        </div>
        <div class="item">
            <img src="resources/images/tour/conference3.jpg" alt="Conference 3" class="img-responsive tour-img">
        </div>
    </div>                
</span>