<!-- Footer Section -->
<div class="sitemap-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3 style="color:#FFF;">Site Map</h3>
                <div class="sitemap-ul-container">
                    <ul class="sitemap">
                        <li>
                            <a href="index.html" class="sitemap-link">Home</a>
                        </li>
                        <li>
                            <a href="about.html" class="sitemap-link">About</a>
                        </li>
                        <ul class="sitemap">
                            <li>
                                <a href="projects.html" class="sitemap-link">Projects</a>
                            </li>
                            <li>
                                <a href="alumni.html" class="sitemap-link">Alumni</a>
                            </li>
                            <li>
                                <a href="eboard.html" class="sitemap-link">Eboard</a>
                            </li>
                            <li>
                                <a href="sponsors.html" class="sitemap-link">Sponsors</a>
                            </li>
                        </ul>
                        <li><a href="membership.html" class="sitemap-link">Membership</a>
                        </li>
                        <ul class="sitemap">
                            <li>
                                <a href="traditions.html" class="sitemap-link">Traditions</a>
                            </li>
                            <li>
                                <a href="tour.html" class="sitemap-link">Tour</a>
                            </li>
                            <li>
                                <a href="insights.html" class="sitemap-link">Insights</a>
                            </li>
                        </ul>
                        <li>
                            <a href="contact.html" class="sitemap-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3 style="color:#FFF;">Public Resources</h3>
                <div class="sitemap-ul-container">
                    <ul class="sitemap">
                        <li>
                            <a href="membership.html" class="sitemap-link">How to Apply</a>
                        </li>
                        <li>
                            <a href="http://schedule.csh.rit.edu/" class="sitemap-link">CSH RIT Schedule Maker</a>
                        </li>
                        <li>
                            <a href="https://github.com/ComputerScienceHouse" class="sitemap-link"><i class="fa fa-github"></i> CSH on GitHub</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/RITCSH/" class="sitemap-link"><i class="fa fa-facebook-official"></i> CSH on Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/CSH_History" class="sitemap-link"><i class="fa fa-twitter"></i>@CSH_History</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3 style="color:#FFF;">Member Resources</h3>
                <div class="sitemap-ul-container">
                    <ul class="sitemap">
                        <li>
                            <a href="http://members.csh.rit.edu/" class="sitemap-link">Member's Portal</a>
                        </li>
                        <li>
                            <a href="https://constitution.csh.rit.edu/articles.pdf" class="sitemap-link">Constitution</a>
                        </li>
                        <li>
                            <a href="https://constitution.csh.rit.edu/bylaws.pdf" class="sitemap-link">By-Laws</a></li>
                        <li>
                            <a href="https://twitter.com/OPCOMM" class="sitemap-link"><i class="fa fa-twitter"></i>@OPCOMM</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
<div class="csh-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 hcenter">
                <a href="contact.html" style="color:#FFF">webmaster@csh.rit.edu</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hcenter">
                <a style="color:#FFF" href="https://github.com/ComputerScienceHouse/CSHPublicSite">Website on <i class="fa fa-github"></i> Github</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hcenter">
                Copyright <span id="currentYear"></span> © Computer Science House
            </div>
        </div>
    </div>
</div>