<span id="library"> 
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="resources/images/tour/library1.jpg" alt="Lounge 1" class="img-responsive tour-img">
        </div>
        <div class="item">
            <img src="resources/images/tour/library2.jpg" alt="Library 2" class="img-responsive tour-img">
        </div>
        <div class="item">
            <img src="resources/images/tour/library3.png" alt="Library 3" class="img-responsive tour-img">
        </div>
    </div>              
</span>