<div class="carousel-inner" role="listbox">
    <div class="item active">
        <div id="server-room-photosphere"></div>
      </div>
      <div class="item">
        <img src="resources/images/tour/server1.jpg" alt="Server 1" class="img-responsive tour-img">
      </div>
      <div class="item">
        <img src="resources/images/tour/server2.jpg" alt="Server 2" class="img-responsive tour-img">
      </div>
</div>
<script>
    var srpsViewer = new PhotoSphereViewer({
        panorama: 'resources/images/tour/server_photosphere.jpg',
        container: 'server-room-photosphere',
        loading_img: 'resources/images/photosphere-loading.gif',
        navbar: 'autorotate zoom fullscreen',
        mousewheel: false,
        size: {
            height: 500
        }
    });
</script>
