<!DOCTYPE html>
<html lang="en-us">
    {% include head.html %}

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a href="/" class="navbar-brand">&nbsp;</a>
            <button type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div id="navigation" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/" {% if page.active == 'home' %}class="active"{% endif %}>Home</a></li>
                    <li class="dropdown">
                        <a href="/about" class={% if page.active contains 'about' %}"active dropdown-toggle"{% else %}"dropdown-toggle"{% endif %} aria-expanded="false">About</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a {% if page.active == 'about-projects' %}class="active"{% endif %} href="/about/projects">Projects</a></li>
                            <li><a {% if page.active == 'about-alumni' %}class="active"{% endif %} href="/about/alumni">Alumni</a></li>
                            <li><a {% if page.active == 'about-eboard' %}class="active"{% endif %} href="/about/eboard">Eboard</a></li>
                            <li><a {% if page.active == 'about-sponsors' %}class="active"{% endif %} href="/about/sponsors">Sponsors</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/membership" class={% if page.active contains 'membership' %}"active dropdown-toggle"{% else %}"dropdown-toggle"{% endif %} aria-expanded="false">Membership</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a {% if page.active == 'membership-traditions' %}class="active"{% endif %} href="/membership/traditions">Traditions</a></li>
                            <li><a {% if page.active == 'membership-tour' %}class="active"{% endif %} href="/membership/tour">Tour</a></li>
                            <li><a {% if page.active == 'membership-insights' %}class="active"{% endif %} href="/membership/insights">Insights</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a {% if page.active == 'contact' %}class="active"{% endif %} href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>

        <main>
            {{ content }}
        </main>

        {% include footer.html %}

    </body>

</html>
